:root{
  margin: 0;
  padding: 0;
}
html,body{
  background-color: #7B9BCC;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}
.card{
  background-color: white;
  margin: 15rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  max-width: 45vw;
  min-height: 40vh;
}
img{
  width: 7.5vw;
  height: 7.5vh;
}
.img{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}
.title{
  padding-top: 2rem;
  margin-top: 0;
  font-weight: bold;
}
.color-sky{
  color: #4F62CC;
}
span{
  display: block;
  text-align: center;
  padding-bottom: 1rem;
}
.item-info{
  font-size: .7rem;
  opacity: .5;
}
.item-price :not(sup, sub){
  font-weight: bolder;
  font-size: 2rem;
}
.img:hover{
  background-color: rgb(192, 192, 192, .1);
}